doctype html
html
   head
      title  Hello Pug
   body
    h1 Welcome to Pug 
      p.greetings#people Hello World!
      div
        |Test1
        |Test2

        div.
         of text
         same div

        div.container.main.content#divid(width="100",height="100") fffffdsf
         